@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --var-jarkatafonts: "Plus Jakarta Sans", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 0px);
}

button:active {
  opacity: 0.8;
}